@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/navigation-bar.css";
@import "components/introduce.css";
@import "components/bottom-bar.css";
@import "components/scroll-setting.css";
@import "components/slide-bar.css";
@import "components/table-board.css";


/* Screens */
@import "screens/mainpage.css";
@import "screens/help-guide-hours.css";
@import "screens/help-guide-protect.css";
@import "screens/goods-account-group.css";

@font-face {
    font-family: 'KakaoBigSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoBigSans-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

  