.intro-block{
    height: 40px;
    background-color: #fafafb;
}

.intro-main{
    background-color:#ffef6a;
}

.intro-main__img{
    height: 600px;
    margin-right: 80px;
    padding-top: 100px;
}

.intro-main__box{
    margin-left: 80px;
}

.intro-main__box:nth-child(1){
    margin-bottom: 80px;
}
.intro-main__title{
    font-size: 40px;
    line-height: 1.35;
    font-weight: bold;
}

h2.intro-main__title{
    margin-bottom: 20px;
}

.intro-main__content p:first-child{
    margin-bottom: 20px;
    line-height: 1.7;
    color: #4a4821;
}
.intro-main__content p:last-child{
    margin-bottom: 20px;
    line-height: 1.7;
    color: #4a4821;
}

.intro-mobile{
    
}

.intro-mobile__img{
    height: 650px;
    margin-left: 80px;
}

.intro-mobile__box{
    margin-right: 80px;
}

.intro-mobile__box:nth-child(1){
    margin-bottom: 80px;
}
.intro-mobile__title{
    font-size: 40px;
    line-height: 1.35;
    font-weight: bold;
}

h2.intro-mobile__title{
    margin-bottom: 20px;
}

.intro-mobile__btn>a{
    border-radius: 10px;   
    background-color: #f6f6f6; 
    color:#444444;
    padding: 17px 40px;
}

.intro-mobile__btn .fa-angle-right{
    margin-left: 5px;
}