.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 150px;
    padding-right: 150px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-subs{
    border-top: 1px solid #e5e5e5;
    background-color: white;
    position: absolute;
    top : 100%;
    left: 0;
    height: 400px;
    width: 100%;
    display: none;
    z-index: 100;
    
}


.nav-sub{
    display: flex;
    margin-top: 70px;
    justify-content: space-evenly;

}
.nav-list-slider:hover .nav-subs {
    display: block;
}


.nav-list-slider:hover{
    text-decoration: underline;
}

.nav-sub-item {
    color: rgb(0,0,0,0.7);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    
}
.nav-sub-item > a{
    font-size: 18px;
    color: black;
}

.nav-link{
    margin: 15px 0px;
}

.nav-links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category{
    margin-left: 25px;
    margin-right: 25px;
    color:rgb(0,0,0,0.7);
}

.nav-bar__logo{
    font-size: 24px;
}
.nav-bar__logo span:nth-child(2) {
    font-weight: 700;
}


