.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 150px;
    padding-right: 150px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.nav-list{
    display: flex;
    
}

.nav-subs{
    border-top: 1px solid #e5e5e5;
    background-color: white;
    position: absolute;
    top : 100%;
    left: 0;
    height: 400px;
    width: 100%;
    display: none;
    z-index: 100;
    
}

.nav-sub{
    display: flex;
}
.nav-list-slider:hover .nav-subs {
    display: block; /* '은행소개' 항목에 마우스를 올리면 메뉴가 보이도록 설정 */
}

.nav-sub-item {
    color: rgb(0,0,0,0.7);
    font-size: 12px;
}
.nav-sub-item > a{
    font-size: 16px;
    color: black;
}

.category{
    margin-left: 25px;
    margin-right: 25px;
    color:rgb(0,0,0,0.7);
}

.nav-bar__logo{
    font-size: 24px;
}
.nav-bar__logo span:nth-child(2) {
    font-weight: 700;
}


