.goods-account-group__slider {
    margin-top: 200px;
    padding: 20px 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #f06d4b;
  }

.first__goods-slider__slider-box,
.second__goods-slider__slider-box{
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform; /* 브라우저에 애니메이션할 것을 미리 알려 친절하게 대하세요. */
    animation: scrolling 8s linear infinite;
}

.second__goods-slider__slider-box{
    animation: scrolling 9s linear infinite;
}

.first__goods-slider__slider-box span,
.second__goods-slider__slider-box span{
    color: white;
    font-size: 50px;
    white-space: nowrap;
    font-weight: bold;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}